@import "compass/reset";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";

$bgColor: #f4f4f4;

body {
    background-color: $bgColor;
}

h1 {
    font-family: Courier;
    font-size: 18px;
    font-weight: 10;
    color: #4E3E47;
    border-top: 1px solid #CFC4C9;
    //background-color: #333;
    padding: 10px 0px;
}

h2 {
    font-family: Helvetica, sans;
    color: #eee;
    font-size: 2em;
}

#canvas-holder {
    margin: 100px auto;
     width: 1680px;
}

.holder {
    float: left;
    //border: 1px solid #eee;
    width: 175px;
    //height: 225px;
    padding: 25px;
    margin: 15px 25px 50px; 
    cursor: pointer;
}


.footer-container {
    font-family: Helvetica, sans;
    font-size: 14px;
    color:  darken(#A09E92,55%);
    background-color: #A09E92;
    border-top: 1px solid lighten($bgColor,35%);
    position: fixed;
    bottom: 0px;
    height: 32px;
    width: 100%;
    line-height: 18px;

    .note {
        display: inline-block;
        line-height: 32px;
        padding: 0px 10px;

        a {
            color: black;
        }
    }

    nav {
        margin: 0px;
        padding: 0px;
        float: right;

         a {
            font-size: 17px;
            min-width: 150px;
            display: block;
            float: left;
            color: #fff;
            background-color: #249AB1;
            border-left: 1px solid darken(#249AB1,5%);
            text-decoration: none;
            margin: 0px;
            padding: 8px;
            text-align: center;
            text-transform: uppercase;

            @include single-text-shadow(#333, 0px, 0px, 1px);

            @include transition-property(background-color);
            @include transition-timing-function(ease);
            @include transition-duration(0.25s);
            
            &:hover {
                background-color: lighten(#249AB1,15%);
            }
        }
    }


}

@media print {
    .footer-container, .footer-container a {
        display: none;
    }
}

@media screen and (max-width: 639px) and (min-width: 320px) {
    #canvas-holder {
        margin: 100px auto;
        width: 260px;
    }

    .footer-container {
        height: 128px;
    }
}

@media screen and (max-width: 949px) and (min-width: 640px) {
    #canvas-holder {
        margin: 100px auto;
        width: 825px;
    }

    .footer-container {
        height: 96px;
    }
}

@media screen and (max-width: 1239px) and (min-width: 950px) {
    #canvas-holder {
        margin: 100px auto;
        width: 900px;
    }

     .footer-container {
        height: 64px;
    }

}

@media screen and (max-width: 1549px) and (min-width: 1240px) {
    #canvas-holder {
        margin: 100px auto;
        width: 1125px; 
    }
}

@media screen and (max-width: 1849px) and (min-width: 1550px) {
    #canvas-holder {
        margin: 100px auto;
        width: 1420px;
    }
}

@media screen and (min-width: 1850px) {
    #canvas-holder {
        margin: 100px auto;
        width: 1680px;
    }
}