/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/main.scss */
body {
  background-color: #f4f4f4;
}

/* line 9, ../sass/main.scss */
h1 {
  font-family: Courier;
  font-size: 18px;
  font-weight: 10;
  color: #4E3E47;
  border-top: 1px solid #CFC4C9;
  padding: 10px 0px;
}

/* line 19, ../sass/main.scss */
#canvas-holder {
  margin: 100px auto;
  width: 1680px;
}

/* line 24, ../sass/main.scss */
.holder {
  float: left;
  width: 175px;
  padding: 25px;
  margin: 15px 25px 50px;
  cursor: pointer;
}

/* line 34, ../sass/main.scss */
.footer-container, .footer-container a {
  font-family: Helvetica, sans;
  font-size: 12px;
  color: #9b9b9b;
  border-top: 1px solid #9b9b9b;
  position: fixed;
  bottom: 0px;
  height: 18px;
  width: 100%;
  line-height: 18px;
  background-color: #e7e7e7;
  padding: 7px;
}

@media screen and (max-width: 639px) and (min-width: 320px) {
  /* line 49, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 260px;
  }
}
@media screen and (max-width: 949px) and (min-width: 640px) {
  /* line 56, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 825px;
  }
}
@media screen and (max-width: 1239px) and (min-width: 950px) {
  /* line 63, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 900px;
  }
}
@media screen and (max-width: 1549px) and (min-width: 1240px) {
  /* line 70, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 1125px;
  }
}
@media screen and (max-width: 1849px) and (min-width: 1550px) {
  /* line 77, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 1420px;
  }
}
@media screen and (min-width: 1850px) {
  /* line 84, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 1680px;
  }
}
