/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/main.scss */
body {
  font-family: Helvetica, sans;
  background-color: #f4f4f4;
}

/* line 12, ../sass/main.scss */
h1 {
  font-family: Courier;
  font-size: 18px;
  font-weight: 10;
  color: #4E3E47;
  border-top: 1px solid #CFC4C9;
  padding: 10px 0px;
}

/* line 22, ../sass/main.scss */
h2 {
  font-family: Helvetica, sans;
  color: #eee;
  font-size: 2em;
}

/* line 28, ../sass/main.scss */
#canvas-holder {
  margin: 100px auto;
  width: 1680px;
}

/* line 33, ../sass/main.scss */
.holder {
  float: left;
  width: 175px;
  padding: 25px;
  margin: 15px 25px 50px;
  cursor: pointer;
}

/* line 44, ../sass/main.scss */
.footer-container {
  font-size: 14px;
  color: #0e0d0c;
  background-color: #A09E92;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0px;
  height: 32px;
  width: 100%;
  line-height: 18px;
}
/* line 55, ../sass/main.scss */
.footer-container .note {
  display: inline-block;
  line-height: 32px;
  padding: 0px 10px;
}
/* line 60, ../sass/main.scss */
.footer-container .note a {
  color: black;
}

/* line 66, ../sass/main.scss */
header {
  top: 0px;
  bottom: auto;
  height: 34px;
}

/* line 73, ../sass/main.scss */
nav {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 45%;
}
/* line 79, ../sass/main.scss */
nav a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  width: 25%;
  display: block;
  float: left;
  color: #fff;
  background-color: #249AB1;
  border-left: 1px solid #20889c;
  text-decoration: none;
  margin: 0px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #333333;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 104, ../sass/main.scss */
nav a:hover {
  background-color: #48c2da;
}
/* line 108, ../sass/main.scss */
nav a.selected {
  background-color: #c30062;
}

@media print {
  /* line 115, ../sass/main.scss */
  header, .footer-container, .footer-container a {
    display: none;
  }
}
@media screen and (max-width: 319px) {
  /* line 121, ../sass/main.scss */
  #canvas-holder {
    margin: 0px auto;
    width: 300px;
  }

  /* line 126, ../sass/main.scss */
  nav {
    width: 100%;
  }
  /* line 129, ../sass/main.scss */
  nav a {
    width: 100%;
    padding: 7px;
  }
}
@media screen and (max-width: 639px) and (min-width: 320px) {
  /* line 137, ../sass/main.scss */
  #canvas-holder {
    margin: 25px auto;
    width: 260px;
  }

  /* line 142, ../sass/main.scss */
  nav {
    width: 100%;
  }
  /* line 145, ../sass/main.scss */
  nav a {
    width: 100%;
  }
}
@media screen and (max-width: 949px) and (min-width: 640px) {
  /* line 152, ../sass/main.scss */
  #canvas-holder {
    margin: 50px auto;
    width: 825px;
  }

  /* line 157, ../sass/main.scss */
  nav {
    width: 100%;
  }
  /* line 160, ../sass/main.scss */
  nav a {
    width: 50%;
  }
}
@media screen and (max-width: 1239px) and (min-width: 950px) {
  /* line 168, ../sass/main.scss */
  #canvas-holder {
    margin: 50px auto;
    width: 900px;
  }

  /* line 173, ../sass/main.scss */
  nav {
    width: 100%;
  }
  /* line 176, ../sass/main.scss */
  nav a {
    width: 25%;
  }
}
@media screen and (max-width: 1549px) and (min-width: 1240px) {
  /* line 184, ../sass/main.scss */
  #canvas-holder {
    margin: 50px auto;
    width: 1125px;
  }
}
@media screen and (max-width: 1849px) and (min-width: 1550px) {
  /* line 191, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 1420px;
  }
}
@media screen and (min-width: 1850px) {
  /* line 198, ../sass/main.scss */
  #canvas-holder {
    margin: 100px auto;
    width: 1680px;
  }
}
